:root {
	--red: #df0021;
	--light: #9b9b9b;
	--gray: #444444;
	--bronce: #f79429;
	--oro: #fcc417;
	--plata: #cecdd2;
	--orange: #f79429;
	--ligthgray: #b2ced1;
	--yelow: #ffd34a;
	--backGround: #f5f5f5;
	--textlight: #767676;
	--white: #ffffff;
	--fontOro: #ffa31a;
	--colorLine: #ffcf87;
	--font: "Rubik", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* final info */

.container__info {
	width: 100%;
	margin: 0 auto;
	background-color: var(--red);
	font-family: var(--font);
}

.header {
	width: 100%;
	min-height: 127px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.header__image {
	display: inline-block;
	position: absolute;
	top: 6px;
}

.main {
	width: 100%;
	background-color: var(--backGround);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
}

.task,
.goals {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.task__title {
	margin-top: 100px;
	font-size: 19px;
	font-weight: 600;
	color: var(--gray);
	margin-bottom: 20px;
	text-align: center;
}

.task__subtitle p,
.goals__subtitle p {
	color: var(--textlight);
	font-size: 16px;
}

.task__subtitle,
.goals__subtitle {
	display: flex;
	align-items: center;
}

.task__subtitle p:first-of-type,
.goals__subtitle p:first-of-type {
	background-color: var(--light);
	width: 30px;
	height: 1px;
	margin-right: 0.7rem;
}

.task__subtitle p:last-of-type,
.goals__subtitle p:last-of-type {
	background-color: var(--light);
	width: 30px;
	height: 1px;
	margin-left: 0.7rem;
}

.task__text,
.goals__text {
	font-size: 11px;
	color: var(--light);
	width: 90%;
	max-width: 289px;
	text-align: center;
	margin-top: 0.2rem;
}

.task__text span {
	font-weight: 600;
}

.card__task {
	width: 90%;
	max-width: 343px;
	height: 134px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px auto;
	background-color: var(--white);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0px -1px 24px -5px rgba(0, 0, 0, 0.15);
}

.card__title {
	font-size: 18px;
	font-weight: 700;
	color: var(--fontOro);
	margin-top: 8px;
}

.card__text {
	font-size: 15px;
	color: var(--fontOro);
	font-weight: 500;
	text-align: center;
}

.slider {
	margin-bottom: 20px;
}

.swiper {
	width: 18.5rem;
	height: 220px;
}

@media (min-width: 768px) {
	.swiper {
		width: 600px;
		height: 200px;
	}
}

.swiper-wrapper {
	width: 90%;
}

.swiper-slide {
	height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper__card {
	width: 90%;
	max-width: 343px;
	height: 146px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px auto;
	background-color: var(--white);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0px -1px 24px -5px rgba(0, 0, 0, 0.15);
}

.swiper__title {
	font-size: 15px;
	font-weight: 700;
	color: var(--red);
	margin-top: 8px;
}

.swiper__text {
	font-size: 12px;
	color: var(--red);
	font-weight: 500;
	text-align: center;
}

.swiper__goal {
	font-size: 12px;
	color: var(--gray);
	font-weight: 500;
	text-align: center;
	margin-top: 8px;
}

.swiper__card--bonus {
	background: linear-gradient(
		90deg,
		#df0021 0%,
		#ff8e13 101.46%,
		#e80022 101.46%
	);
}

.swiper__title--bonus,
.swiper__text--bonnus {
	color: var(--white);
}

.swiper__goal--bonus {
	color: var(--white);
	font-size: 11px;
	margin-top: 5px;
}

.table {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table__title {
	font-size: 19px;
	font-weight: 600;
	color: var(--gray);
}

.table__subtitle {
	font-size: 13px;
	font-weight: 400;
	color: var(--gray);
	text-align: center;
	width: 90%;
	margin: 5px 0;
}

.table__objectives {
	width: 95%;
	max-width: 343px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 5px;
	margin-bottom: 15px;
}

.task__card {
	width: 95%;
	max-width: 309px;
	margin: 17px auto;
	background: #fff0d9;
	padding: 25px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.task__grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 0 10px;
	gap: 5px;
}

.task__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.task__challenge {
	font-size: 15px;
	color: var(--orange);
	font-weight: 600;
}

.task__detail {
	width: 90%;
	font-size: 12px;
	color: var(--orange);
	font-weight: 400;
	margin-top: 5px;
}

.task__current {
	font-size: 12px;
	color: var(--gray);
	font-weight: 400;
	margin-top: 10px;
}

.task__current span {
	font-weight: 600;
}

.task__line {
	width: 80%;
	height: 1px;
	background-color: var(--colorLine);
	margin: 20px auto;
}

.task__message {
	display: grid;
	grid-template-columns: 0.8fr 3.2fr;
	align-items: center;
	justify-items: center;
	padding: 0px 10px;
}

.task__message p {
	font-size: 11px;
	color: #797979;
	font-weight: 600;
}

.buy1C1P__grid {
	width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	margin-bottom: 20px;
}

.buy__card {
	width: 95%;
	max-width: 151px;
	background: #ffe5e5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

@media (min-width: 768px) {
	.buy__card {
		width: 100%;
	}
}

.buy__title {
	font-size: 14px;
	font-weight: 600;
	color: var(--red);
	text-align: center;
}

.buy__subtitle {
	font-size: 11px;
	font-weight: 400;
	color: var(--red);
}

.buy__card img {
	margin: 20px auto 0;
}

.task__line--red {
	background-color: #f4c7cb;
}

.buy__current {
	font-size: 11px;
	/* width: 55%; */
	color: var(--gray);
	text-align: center;
}

.buy__current span {
	font-weight: 600;
}

.goals__container {
	width: 9%;
	max-width: 309px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.goals__bonus {
	width: 95%;
	border: solid 3px #ff6b17;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.goals__title {
	margin: 19px auto 8px;
	font-size: 17px;
	font-weight: 600px;
	color: #ff6b17;
	font-weight: 600;
}

.goals__details {
	font-size: 11px;
	color: #767676;
	text-align: center;
	font-weight: 400;
	width: 90%;
	max-width: 218px;
}

.grid__box{
	margin: 15px auto;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box__img{
	position: relative;
}

.box__img div{
	position: absolute;
	top: -5px;
	right: -5px;
}

.box__img span{
	height: 20px;
	width: 20px;
	padding: 5px;
	top: 0;
	left: 0px;
	font-size: 11px;
	color: #fff;
	font-weight: 600;
	background-color: #ff6b17;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.box__name{
	font-size: 11px;
	color: #ACACAC;
	font-weight: 400;
	text-align: center;
	max-width: 73px;
}

.mesaage__table{
	margin: 20px auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-items: center;
	align-items: center;
}

.message__text{
	font-size: 11px;
	color:var(--gray);
	font-weight: 400;
	text-align: left;
	width: 95%;
}

.message__text span{
	font-weight: 600;
}

.prize{
	max-width: 289px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.message__prize{
	text-align: center;
	font-size: 12px;
	color: var(--gray);
	font-weight: 400;
	margin-bottom: 10px;
}

.message_buttom{
	all: unset;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px;
	background: linear-gradient(90deg, #DF0021 0%, #FF8E13 101.46%, #E80022 101.46%);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	color: var(--white);
	font-size: 17px;
	cursor: pointer;
}

